%h1 Your Purchases

%table#products
  - if @current_user.products.size == 0
    %tr
      %th You have no recorded purchases
  - else
    %thead
      %tr
        %th Product Name
        %th Category
        %th Price
        %th Date Purchased
    %tbody
      - @current_user.products.each do |product|
        %tr
          %td= product.name
          %td= product.category
          %td= '$' + product.price
          %td= "Add Timestamp"
