/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    height: 100%;
    background-image: url("icons/background.png");
}

body {
    flex-direction: column;
    font-family: "Verdana", sans-serif;
}

#main {
    flex: 1;
}

.navbar {
    display: flex;
    background-color: #333;
    justify-content: space-around;
    padding: 10px;
    color: white;
}

.nav_item {
    text-align: center;
    font-size: 35px;
}

.nav_item.icon_text {
    font-size: 15px;
}


.nav_item a {
    text-decoration: none;
    color: white;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.about-link {
    color: white;
    text-decoration: none;
}

.welcome_statement {
    color: #333333;
    font-size: 40px;
    height: 20%;
    text-align: center;
}

.product-index-form {
    text-align: center;
}

.product-search-form {
    text-align: center;
}

.product_search_bar {
    overflow: hidden;
    position: relative;
    display: inline-block;
    /*box-sizing: border-box;*/
    align-self: center;
    width: 80%;
    padding: 15px;
    background-color: rgba(0, 134, 179, 0.6);
    background-size: 50% 50%;
    border-radius: 10px;
    text-align: center;
}

.search_button {
    background-color: white;
    border: none;
    color: #0086b3;
    padding: 10px 10px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
}

.search_button:hover {
    color: white;
    background-color: #7c7c7c;
}

.product_search_field {
    align-self: center;
    display: inline-block;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    font-family: "Verdana", sans-serif;
    color: #0086b3;
    padding:10px;
    margin:10px 0;
    font-size: 20px;
    border: 2px solid #0086b3;
}

.product_alignment_fields {
    display: inline-block;
    vertical-align: top;
}

.new_product_button {
    text-decoration: none;
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
    color: #333
}

.new_product_button a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.link_to_button {
    text-decoration: none;
    padding-top: 25px;
    font-size: 20px;
    color: #333
}

.link_to_button a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

label {
    display: block;
}

button {
    display: block;
}

.login {
    text-decoration: none;
    padding-top: 25px;
    font-size: 20px;
    /*text-align: center;*/
    color: #333
}

.login a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.create_account {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

.create_account a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0086b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.create_account a:hover {
    color: white;
    background-color: #7c7c7c;
}

table#products thead {
    text-align: center;
}

.table-style {
    border-collapse: collapse;
    width: 100%;
}

.table-style th, .table-style td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.carousel {
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    object-fit: contain;
    height: 400px;
    width: 100%;
}

.carousel-slide {
    position: relative;
    inset: 0;
    object-fit: contain;
    max-height: 400px;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.1);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.title_text {
    color: white;
    text-shadow: 0 0 10px #0086b3, 0 0 10px #0086b3;
}

.title_text.center {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.product_card_display {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.product_card {
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid #0086b3;
    padding: 20px;
    width: 300px;
    font-family: "Verdana", sans-serif;
    background-color: white;
}

.background-text {
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px;
}

.card-img {
    border-radius: 5px;
    object-fit: contain;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #0086b3;
}

.card-img img {
    max-width: 100%;
    max-height: 100%;
}

.card-price {
    color: grey;
    font-size: 20px;
    text-align: center;
    font-family: "Verdana", sans-serif;
}

.card-button {
    border-radius: 5px;
    background: none;
    color: white;
    background-color: #0086b3;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    width: 100%;
    font-size: 18px;
    font-family: "Verdana", sans-serif;
}

.clear-cart-button {
    border-radius: 5px;
    background: none;
    color: white;
    background-color: #0086b3;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    width: auto;
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    border: none;
}

.card-text {
    color: #0086b3;
    font-size: 15px;
    margin: 5px;
}

.card-button:hover {
    color: white;
    background-color: darkslategray;
}
.product_listing {
    width: 70%;
    margin: auto;
    position: relative;
    align-content: center;
    overflow: hidden;
}

.product_listing_display {
    overflow: auto;
    width: 100%;
    border-collapse:separate;
    padding: 10px;
    border-spacing:0 15px;
    border-radius: 5px;
    border: 1px solid #0086b3;
}

.review_card_display {
    width: 800px;
    margin: auto;
    background-color: rgba(0, 134, 179, 0.6);
    position: relative;
    overflow: hidden;
    border: 1px solid #0086b3;
    text-align: center;
    color: #0086b3;
    border-radius: 5px;
}

.review_table {
    padding: 5px;
    width: 800px;
    border-collapse:separate;
}

.review_text {
    color: #0086b3;
    font-size: 15px;
    margin: 2px;
}

.review_row {
    display: block;
    border-radius: 5px;
    border: 1px solid #0086b3;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.review_column {
    text-align: left;
    width: 650px;
    height: 100%;
}

.review_stars {
    min-width: 25%;
    width: 150px;
    height: 100%;
}

.review_name {
    font-size: 10px;
    color: #444444;
    text-align: right;
}

.product_listing_row {
    border-radius: 5px;
    border: 1px solid #0086b3;
}

.listing_img {
    margin: 10px;
    display: inline-block;
}

.listing_img img {
    border-radius: 5px;
    object-fit: contain;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #0086b3;
}

.listing-buttons.right{
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.listing-text {
    color: #0086b3;
    font-size: 20px;
    margin: 5px;
}

.product_map {
    height: 500px;
    width: 500px;
    margin: auto;
}

.product_map body {
    height: 100%;
}

.profile_button {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
}

.profile_button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #0086b3;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.profile_button a:hover {
    color: white;
    background-color: #7c7c7c;
}

.links-container {
    text-align: center;
    margin-top: 20px;
}

.product_show_display {
    background-color: rgba(0, 134, 179, 0.6);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 800px;
    margin: auto;
}

.product_text {
    font-size: 20px;
    color: white;
}

.product_subtext {
    font-size: 14px;
    color: white;
}

.product_row_body {
    width: 400px;
}

.main-product-img {
    border-radius: 5px;
    object-fit: contain;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #0086b3;
}

.product_description {
    text-align: center;
    color: white;
    border-radius: 5px;
    width: 815px;
    background-color: rgba(0, 134, 179, 0.6);
    background-size: contain;
    font-size: large;
    margin: auto;
}

.header_text {
    font-size: 20px;
    color: white;
    text-align: center;
}

.basic_link_button {
    border-radius: 5px;
    background: none;
    color: #0086b3;
    background-color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    width: 100%;
    font-size: 10px;
    font-family: "Verdana", sans-serif;
}

.basic_link_button:hover {
    color: white;
    background-color: #7c7c7c;
}

.spacing {
    height: 20px;
}

.generic_fields {
    align-self: center;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    color: #0086b3;
    padding:5px;
    margin:5px 0;
    font-size: 15px;
    border: 2px solid #0086b3;
}

.edit_body {
    padding: 5px;
    width: 150px;
}

.edit_field_body {
    padding: 5px;
    text-align: left;
}

.edit_product_form {
    text-align: center;
    width: 80%;
    margin: auto;
}

.table_center {
    text-align: center;
    min-width: 100%;
    background-color: rgba(0, 134, 179, 0.6);
    border-radius: 5px;

}

.general_button {
    background-color: #0086b3;
    border: none;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
}

.clear-cart-button:hover {
    color: white;
    background-color: darkslategray;
}

#use_wallet_balance {
    transform: scale(1.8);
    margin-right: 5px;
}

#use_wallet_balance + label {
    display: inline-block;
}

#shopping_cart_top_buttons {
    width: 100%;
    table-layout: fixed;
    padding: 5px;
}

.shopping-cart-home-button {
    text-align: left;
}

.shopping-cart-clear-button {
    text-align: right;
}

.clear-cart-button,
.return-to-products-button {
    display: inline-block;
}

.about_divs {
    background-color: rgba(0, 134, 179, 0.6);
    background-size: contain;
    color: white;
    font-size: 15px;
    width: 50%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}