.product-index-form
  %h2.title_text FAQ
  %h4.title_text Where do I start?
  %p.about_divs Please first login using Google to interact with our services. Then see display of currently available items for purchase! If you see a listing to your liking, you can select it and add it to your cart. There you'll checkout and adding shipping/payment information which will then be processed and your purchase will be complete.
  %h4.title_text How can I start selling?
  %p.about_divs On your individual profile page, you'll see a link that allows you to add a product to be sold on the website ('Add a Product to Sell?' link)
  %h4.title_text What can I do with an account?
  %p.about_divs With your account you can view your current user history as a buyer and seller. In seller history, you'll see all the items you have sold prior, or are currently selling. Here you can also select the item to view the item's information page and edit the item's page if need be. You can also view the items you have already purchased using our services.
  %h4.title_text How do I search for a product?
  %p.about_divs On the homepage, enter the item that you're looking for. Once you click search, it'll return products that match your search. You can also filter for specific categories or descriptions of items for a more specific search. Everytime a search is initiated, you'll see exact results or some results that may resemble your search terms.

  .profile_button
    = link_to 'Return to Home', products_path

%p.spacing